.dashboard-flex-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-grid {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5% 10%;
  place-items: center;
  place-content: center;
}